# GDP성장률, 인구증가율, 환율, 유가 변수 생성

In [188]:
import os
import pickle
import numpy as np
import pandas as pd
from IPython.display import display
from tqdm import tqdm
tqdm.pandas()

import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

import warnings
warnings.filterwarnings('ignore')

In [189]:
with open('../processed/export_GDP.pkl', 'rb') as f:
    export_GDP = pickle.load(f)
export_GDP = export_GDP.query('year<2023')

GDP = pd.read_csv('../data/GDP_ori.csv')    
population = pd.read_csv('../data/world_population.csv', skiprows=3, header=1)
fx_rate = pd.read_csv('../data/기간별평균환율.csv')

In [190]:
export_GDP

        year      country  품목코드   수출금액          GDP    preference
0       2012  Afghanistan   3.0    1.0  20203572.96  4.949620e-08
1       2012  Afghanistan   4.0    0.0  20203572.96  0.000000e+00
2       2012  Afghanistan   7.0    2.0  20203572.96  9.899239e-08
3       2012  Afghanistan   8.0    0.0  20203572.96  0.000000e+00
4       2012  Afghanistan  10.0   12.0  20203572.96  5.939543e-07
...      ...          ...   ...    ...          ...           ...
129303  2022     Zimbabwe  90.0  299.0          NaN           NaN
129304  2022     Zimbabwe  94.0   21.0          NaN           NaN
129305  2022     Zimbabwe  95.0    2.0          NaN           NaN
129306  2022     Zimbabwe  96.0    0.0          NaN           NaN
129307  2022     Zimbabwe  97.0    0.0          NaN           NaN

[129308 rows x 6 columns]

In [191]:
export_GDP.shape, population.shape, fx_rate.shape

((129308, 6), (268, 67), (48, 12))

In [192]:
display(export_GDP.head(3))
display(population.head(3))
display(fx_rate.head(3))

   year      country  품목코드  수출금액          GDP    preference
0  2012  Afghanistan   3.0   1.0  20203572.96  4.949620e-08
1  2012  Afghanistan   4.0   0.0  20203572.96  0.000000e+00
2  2012  Afghanistan   7.0   2.0  20203572.96  9.899239e-08

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0

,currency,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,USD,"1,126.43","1,094.97","1,053.30","1,132.10","1,161.11","1,130.61","1,101.08","1,166.51","1,179.90","1,145.07","1,293.68"
1,JPY,"1,412.96","1,123.73",996.37,935.06,"1,069.31","1,008.29",997.07,"1,070.63","1,105.36","1,041.92",985.24
2,EUR,"1,447.58","1,453.47","1,398.81","1,255.78","1,284.10","1,276.44","1,299.65","1,305.86","1,346.11","1,353.40","1,359.46"

### GDP성장률 파생변수 추가

In [193]:
export_GDP.head(2)

   year      country  품목코드  수출금액          GDP    preference
0  2012  Afghanistan   3.0   1.0  20203572.96  4.949620e-08
1  2012  Afghanistan   4.0   0.0  20203572.96  0.000000e+00

In [194]:
# 나라별 연도별 GDP
cntry_year_GDP = export_GDP[['country','year','GDP']].drop_duplicates().pivot(index='country',columns='year',values='GDP')
cntry_year_GDP

year,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,
Afghanistan,2.020357e+07,2.056449e+07,2.055058e+07,1.999816e+07,1.801956e+07,1.889635e+07,1.841885e+07,1.890449e+07,2.014344e+07,1.478686e+07,NaN
Albania,1.231983e+07,1.277622e+07,1.322815e+07,1.138685e+07,1.186120e+07,1.301969e+07,1.515643e+07,1.540183e+07,1.513187e+07,1.825579e+07,NaN
Algeria,2.090000e+08,2.100000e+08,2.140000e+08,1.660000e+08,1.600000e+08,1.700000e+08,1.750000e+08,1.720000e+08,1.450000e+08,1.630000e+08,NaN
American Samoa,6.400000e+05,6.380000e+05,6.430000e+05,6.730000e+05,6.710000e+05,6.120000e+05,6.390000e+05,6.470000e+05,7.160000e+05,7.090000e+05,NaN
Andorra,3.188809e+06,3.193704e+06,3.271808e+06,2.789870e+06,2.896679e+06,3.000181e+06,3.218316e+06,3.155065e+06,2.891022e+06,3.330282e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,3.810000e+08,3.710000e+08,4.820000e+08,1.254490e+08,1.129150e+08,1.158830e+08,1.155883e+09,7.300000e+06,4.379000e+07,5.715000e+07,NaN
Vietnam,1.960000e+08,2.140000e+08,2.330000e+08,2.390000e+08,2.570000e+08,2.810000e+08,3.100000e+08,3.340000e+08,3.470000e+08,3.660000e+08,NaN
Yemen,3.540132e+07,4.041523e+07,4.322859e+07,4.244450e+07,3.131783e+07,2.684223e+07,2.160616e+07,2.189000e+07,1.884000e+07,2.106000e+07,NaN
Zambia,2.550306e+07,2.803724e+07,2.714102e+07,2.125122e+07,2.095841e+07,2.587360e+07,2.631159e+07,2.330867e+07,1.811063e+07,2.214763e+07,NaN
Zimbabwe,1.711485e+07,1.909102e+07,1.949552e+07,1.996312e+07,2.054868e+07,1.758489e+07,3.415607e+07,2.183223e+07,2.150970e+07,2.837124e+07,NaN

In [195]:
display(GDP.head(2))
display(cntry_year_GDP.head(2))

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129152e+10,2.180944e+10,2.370806e+10,2.821128e+10,2.611994e+10,2.968348e+10,...,9.830000e+11,1.000000e+12,9.230000e+11,8.900000e+11,1.030000e+12,1.020000e+12,1.010000e+12,9.340000e+11,1.090000e+12,NaN

year,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,
Afghanistan,2.020357e+07,2.056449e+07,2.055058e+07,1.999816e+07,1.801956e+07,1.889635e+07,18418848.30,1.890449e+07,2.014344e+07,1.478686e+07,NaN
Albania,1.231983e+07,1.277622e+07,1.322815e+07,1.138685e+07,1.186120e+07,1.301969e+07,15156432.31,1.540183e+07,1.513187e+07,1.825579e+07,NaN

In [196]:
cntry_year_GDP.isna().sum()

year
2012      0
2013      0
2014      2
2015      2
2016      2
2017      2
2018      2
2019      0
2020      0
2021      0
2022    205
dtype: int64

In [197]:
# 결측치 채우기
failed = []
for i in range(len(cntry_year_GDP)):
    idx = cntry_year_GDP.index[i] # 국가명
    if cntry_year_GDP.loc[idx].isna().sum()>0: # 결측치가 있으면
        cols = cntry_year_GDP.loc[idx][cntry_year_GDP.loc[idx].isna()].index # 결측치가 있는 연도
        for col in cols:
            try:
                cntry_year_GDP.loc[idx, col] = GDP[GDP['Country Name']==idx][str(col)].values[0] # GDP에서 해당 국가, 연도의 GDP를 가져옴
            except:
                failed.append([idx, col])
failed

[['Guiana', 2022], ['Taiwan', 2022]]

In [198]:
cntry_year_GDP.isna().sum()

year
2012      0
2013      0
2014      0
2015      0
2016      0
2017      0
2018      0
2019      0
2020      0
2021      0
2022    205
dtype: int64

In [199]:
# 변화율 계산 함수
def get_growth_rate(x, cntry_year_value, value_col):
   if (x['year']-1) in cntry_year_value.columns:
      prev_year = cntry_year_value.loc[x['country'],(x['year']-1)]
      return (x[value_col] - prev_year)/prev_year

# GDP성장률 계산
export_GDP['GDP_growth'] = export_GDP.apply(lambda x: get_growth_rate(x, cntry_year_GDP, 'GDP'), axis=1)
export_GDP

        year      country  품목코드   수출금액          GDP    preference  GDP_growth
0       2012  Afghanistan   3.0    1.0  20203572.96  4.949620e-08         NaN
1       2012  Afghanistan   4.0    0.0  20203572.96  0.000000e+00         NaN
2       2012  Afghanistan   7.0    2.0  20203572.96  9.899239e-08         NaN
3       2012  Afghanistan   8.0    0.0  20203572.96  0.000000e+00         NaN
4       2012  Afghanistan  10.0   12.0  20203572.96  5.939543e-07         NaN
...      ...          ...   ...    ...          ...           ...         ...
129303  2022     Zimbabwe  90.0  299.0          NaN           NaN         NaN
129304  2022     Zimbabwe  94.0   21.0          NaN           NaN         NaN
129305  2022     Zimbabwe  95.0    2.0          NaN           NaN         NaN
129306  2022     Zimbabwe  96.0    0.0          NaN           NaN         NaN
129307  2022     Zimbabwe  97.0    0.0          NaN           NaN         NaN

[129308 rows x 7 columns]

In [200]:
export_GDP.query('year>2012').isna().sum()

year              0
country           0
품목코드              0
수출금액              0
GDP           12093
preference    12093
GDP_growth    12093
dtype: int64

### 인구증가율 파생변수 추가

In [201]:
population.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0

In [202]:
# 2012~2022년 인구 데이터만 추출
population_12_22 = population.drop(['Country Code','Indicator Name','Indicator Code'], axis=1)
for year in range(1960,2012):
    population_12_22 = population_12_22.drop(str(year), axis=1)

population_12_22 = population_12_22.rename(columns={'Country Name':'country'})
population_12_22 = population_12_22.set_index('country')
population_12_22.columns = population_12_22.columns.astype(int)
population_12_22.head(2)

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,
Aruba,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
Africa Eastern and Southern,552530654.0,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0

In [203]:
population_12_22.isna().sum()

2012    1
2013    1
2014    1
2015    1
2016    1
2017    1
2018    1
2019    1
2020    1
2021    1
2022    1
dtype: int64

In [204]:
# 'Not classified'는 원래 없는 국가이기 때문에 제거
population_12_22 = population_12_22.query('country != "Not classified"')
population_12_22.isna().sum()

2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
dtype: int64

In [205]:
population_12_22.head(2)

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,
Aruba,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
Africa Eastern and Southern,552530654.0,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0

In [206]:
# 인구 - 2012년~2021년 데이터만 추출
pop_12_21 = pd.DataFrame()
year_list = [i for i in range(2012, 2022)]
for year in year_list:
    pop_temp = population[['Country Name', str(year), str(year-1)]]
    pop_temp['year'] = year
    pop_temp.rename(columns={'Country Name':'country', str(year):'population'}, inplace=True)
    pop_temp = pop_temp[['country', 'year', 'population']]
    pop_12_21 = pd.concat([pop_12_21, pop_temp])
    
print('국가 수:', pop_12_21.country.nunique())
display(pop_12_21)

국가 수: 268

                         country  year   population
0                          Aruba  2012     102112.0
1    Africa Eastern and Southern  2012  552530654.0
2                    Afghanistan  2012   30466479.0
3     Africa Western and Central  2012  376797999.0
4                         Angola  2012   25188292.0
..                           ...   ...          ...
263                 South Africa  2021   59392255.0
264                       Zambia  2021   19473125.0
265                     Zimbabwe  2021   15993524.0
266                       Taiwan  2021   23859912.0
267                       Guiana  2021     306448.0

[2680 rows x 3 columns]

In [207]:
# export_GDP와 pop_12_21 합치기
export_GDP_pop = export_GDP.copy()
export_GDP_pop = pd.merge(export_GDP_pop, pop_12_21, how='left', on=['country','year'])

print(export_GDP_pop.shape, export_GDP_pop.shape)
display(export_GDP_pop.head())

(129308, 8) (129308, 8)

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0

In [208]:
cntry_year_GDP.columns

Index([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype='int64', name='year')

In [209]:
population_12_22.columns

Index([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype='int64')

In [210]:
# 인구증가율 계산
export_GDP_pop['pop_growth'] = export_GDP_pop.apply(lambda x: get_growth_rate(x, population_12_22, 'population'), axis=1)
export_GDP_pop

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN
...,...,...,...,...,...,...,...,...,...
129303,2022,Zimbabwe,90.0,299.0,NaN,NaN,NaN,NaN,NaN
129304,2022,Zimbabwe,94.0,21.0,NaN,NaN,NaN,NaN,NaN
129305,2022,Zimbabwe,95.0,2.0,NaN,NaN,NaN,NaN,NaN
129306,2022,Zimbabwe,96.0,0.0,NaN,NaN,NaN,NaN,NaN
129307,2022,Zimbabwe,97.0,0.0,NaN,NaN,NaN,NaN,NaN

In [211]:
export_GDP_pop.query('year>2012').isna().sum()

year              0
country           0
품목코드              0
수출금액              0
GDP           12093
preference    12093
GDP_growth    12093
population    12093
pop_growth    12093
dtype: int64

In [212]:
with open('../processed/export_GDP_pop.pkl', 'wb') as f:
    pickle.dump(export_GDP_pop, f)

### 환율 추가

In [213]:
display(fx_rate.head(2))
display(export_GDP_pop.head(2))

,currency,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,USD,"1,126.43","1,094.97","1,053.30","1,132.10","1,161.11","1,130.61","1,101.08","1,166.51","1,179.90","1,145.07","1,293.68"
1,JPY,"1,412.96","1,123.73",996.37,935.06,"1,069.31","1,008.29",997.07,"1,070.63","1,105.36","1,041.92",985.24

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN

In [214]:
fx_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  48 non-null     object
 1   2012      45 non-null     object
 2   2013      45 non-null     object
 3   2014      46 non-null     object
 4   2015      45 non-null     object
 5   2016      45 non-null     object
 6   2017      47 non-null     object
 7   2018      47 non-null     object
 8   2019      47 non-null     object
 9   2020      47 non-null     object
 10  2021      47 non-null     object
 11  2022      47 non-null     object
dtypes: object(12)
memory usage: 4.6+ KB

In [215]:
fx_rate.columns

Index(['currency', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022'],
      dtype='object')

In [216]:
fx_rate.currency.unique()

array(['USD', 'JPY', 'EUR', 'GBP', 'CAD', 'CHF', 'HKD', 'CNY', 'THB',
       'IDR', 'SEK', 'AUD', 'DKK', 'NOK', 'SAR', 'KWD', 'BHD', 'AED',
       'SGD', 'MYR', 'NZD', 'TWD', 'PHP', 'VND', 'PLN', 'RUB', 'ZAR',
       'INR', 'PKR', 'BDT', 'EGP', 'MXN', 'BRL', 'BND', 'ILS', 'JOD',
       'ARS', 'CZK', 'MNT', 'FJD', 'KHR', 'TRY', 'HUF', 'QAR', 'XAU',
       'XAG', 'KZT', 'NPR'], dtype=object)

In [217]:
fx_rate

,currency,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,USD,"1,126.43","1,094.97","1,053.30","1,132.10","1,161.11","1,130.61","1,101.08","1,166.51","1,179.90","1,145.07","1,293.68"
1,JPY,"1,412.96","1,123.73",996.37,935.06,"1,069.31","1,008.29",997.07,"1,070.63","1,105.36","1,041.92",985.24
2,EUR,"1,447.58","1,453.47","1,398.81","1,255.78","1,284.10","1,276.44","1,299.65","1,305.86","1,346.11","1,353.40","1,359.46"
3,GBP,"1,784.59","1,711.43","1,734.65","1,730.56","1,572.80","1,455.29","1,469.19","1,488.50","1,513.26","1,574.82","1,594.39"
4,CAD,"1,127.02","1,063.13",953.56,885.61,876.60,871.61,849.50,879.19,880.04,913.68,993.00
5,CHF,"1,201.01","1,180.84","1,151.46","1,175.96","1,178.11","1,148.56","1,125.04","1,174.19","1,257.49","1,252.09","1,353.99"
6,HKD,145.21,141.16,135.83,146.03,149.59,145.10,140.48,148.89,152.13,147.31,165.20
7,CNY,178.52,178.11,170.95,179.52,174.43,167.47,166.48,168.68,170.90,177.56,191.73
8,THB,36.24,35.69,32.43,33.05,32.89,33.33,34.05,37.61,37.74,35.82,36.88
9,IDR,12.04,10.58,8.89,8.46,8.74,8.45,7.74,8.26,8.15,8.02,8.71
10,SEK,166.27,168.06,153.85,134.30,135.72,132.44,126.74,123.34,128.47,133.39,127.88
11,AUD,"1,166.39","1,060.04",949.51,850.42,863.98,866.81,822.93,810.51,813.89,859.82,896.66
12,DKK,194.50,194.90,187.63,168.36,172.45,171.59,174.37,174.88,180.58,181.98,182.69
13,NOK,193.55,186.41,167.40,140.33,138.20,136.84,135.33,132.56,125.65,133.18,134.55
14,SAR,300.36,291.97,280.82,301.81,309.58,301.47,293.57,311.02,314.41,305.27,344.52
15,KWD,"4,021.71","3,857.91","3,700.31","3,761.21","3,841.65","3,727.12","3,645.27","3,838.69","3,845.70","3,794.90","4,221.11"
16,BHD,"2,988.03","2,904.96","2,794.26","3,003.02","3,080.33","2,998.39","2,918.57","3,094.15","3,127.89","3,037.21","3,431.18"
17,AED,306.68,298.12,286.77,308.23,316.12,307.82,299.77,317.57,321.22,311.74,352.21
18,SGD,901.32,874.99,831.02,823.31,840.64,818.81,816.05,855.04,855.07,851.91,937.77
19,MYR,364.70,348.01,321.90,290.88,280.40,262.89,272.95,281.54,280.70,276.24,293.72
20,NZD,912.07,897.58,874.19,790.49,809.33,803.71,762.23,768.27,766.80,809.49,820.18
21,TWD,38.09,36.90,34.74,35.65,36.02,37.14,36.55,37.78,40.07,41.02,43.39
22,PHP,26.69,25.84,23.72,24.86,24.45,22.44,20.91,22.53,23.78,23.23,23.71
23,VND,5.41,5.23,4.97,5.16,5.19,4.98,4.78,5.02,5.08,4.99,5.52
24,PLN,346.54,346.66,334.40,300.12,294.39,299.90,305.14,303.94,303.08,296.54,290.18
25,RUB,36.26,34.40,27.85,18.65,17.42,19.38,17.60,18.04,16.41,15.54,19.31
26,ZAR,137.70,114.04,97.17,89.03,79.21,85.03,83.60,80.73,72.00,77.49,79.09
27,INR,21.13,18.80,17.26,17.65,17.28,17.36,16.12,16.57,15.92,15.48,16.43
28,PKR,12.08,10.80,10.43,11.01,11.08,10.73,9.07,7.77,7.29,7.03,6.34
29,BDT,13.78,14.04,13.58,14.54,14.78,13.93,13.14,13.81,13.90,13.46,13.83
30,EGP,185.63,159.58,148.75,146.79,123.33,63.42,61.80,69.49,74.59,72.95,68.10
31,MXN,85.56,85.87,79.16,71.39,62.30,59.93,57.29,60.60,55.18,56.44,64.38
32,BRL,578.93,510.04,448.29,344.19,334.82,354.30,303.16,295.88,231.18,212.41,250.80
33,BND,901.43,875.25,831.11,823.55,840.83,818.73,816.07,855.02,854.77,851.95,937.70
34,ILS,292.11,303.13,294.70,291.54,302.40,314.20,306.45,327.55,342.96,354.66,384.98
35,JOD,"1,591.07","1,546.69","1,487.76","1,597.73","1,639.34","1,594.59","1,551.79","1,645.32","1,664.15","1,615.10","1,824.46"
36,ARS,248.39,201.50,134.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,CZK,57.67,56.04,50.83,46.04,47.50,48.50,50.67,50.88,50.90,52.78,55.33
38,MNT,0.83,0.73,0.58,0.58,0.54,0.46,0.45,0.44,0.42,0.40,0.41
39,FJD,624.92,593.00,554.85,556.51,571.17,543.47,523.48,534.63,539.03,548.03,584.18
40,KHR,27.91,27.35,26.26,27.74,28.43,28.00,27.37,28.94,29.08,28.22,31.70
41,TRY,626.16,577.53,481.69,416.94,384.78,310.47,234.47,205.32,170.10,131.85,78.60
42,HUF,5.02,4.90,4.54,4.05,4.12,4.13,4.08,4.01,3.84,3.78,3.48
43,QAR,309.41,300.85,289.30,311.01,318.91,308.41,302.41,320.03,323.13,313.41,353.71
44,XAU,"60,385.20","49,710.98","42,861.23","42,171.90","46,549.08","45,719.45","44,904.63","52,303.17","67,134.15","66,261.93","74,756.69"
45,XAG,NaN,NaN,612.41,570.33,637.97,620.66,555.70,608.05,775.97,925.79,901.74
46,KZT,NaN,NaN,NaN,NaN,NaN,3.45,3.20,3.04,2.86,2.68,2.80
47,NPR,NaN,NaN,NaN,NaN,NaN,10.86,10.08,10.35,9.95,9.68,10.27

In [218]:
year_cols = fx_rate.columns[1:]
for year in year_cols: 
    fx_rate[year] = fx_rate[year].apply(lambda x: x.replace(',','') if type(x)==str else x).astype(float)

In [219]:
currencies = ['USD','JPY','EUR','CNY']
for currency in currencies:
    export_GDP_pop[currency] = np.nan
export_GDP_pop.head(3)

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,NaN,NaN,NaN,NaN
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,NaN,NaN,NaN,NaN
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,NaN,NaN,NaN,NaN

In [220]:
def get_fx_rate(x, currency):
    year = x['year']
    return fx_rate.loc[fx_rate.currency==currency, str(year)].values[0]  # 해당 연도의 통화 환율 가져오기

for currency in currencies:
    export_GDP_pop[currency] = export_GDP_pop.progress_apply(lambda x: get_fx_rate(x, currency), axis=1)
    
export_GDP_pop.sample(5)

100%|██████████| 129308/129308 [00:09<00:00, 13460.98it/s]
100%|██████████| 129308/129308 [00:09<00:00, 13264.89it/s]
100%|██████████| 129308/129308 [00:09<00:00, 13542.05it/s]
100%|██████████| 129308/129308 [00:09<00:00, 13539.87it/s]

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY
102329,2020,Saudi Arabia,65.0,73.0,7.030000e+08,1.038407e-07,-0.125622,35997107.0,0.004738,1179.90,1105.36,1346.11,170.90
64000,2017,Mauritius,39.0,2650.0,1.371351e+07,1.932401e-04,0.088879,1264887.0,0.000902,1130.61,1008.29,1276.44,167.47
103903,2020,Tunisia,38.0,1318.0,4.253783e+07,3.098418e-05,0.015075,12161723.0,0.009329,1179.90,1105.36,1346.11,170.90
119823,2022,Democratic Republic of the Congo,74.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73
81196,2019,Angola,72.0,2.0,6.930911e+07,2.885624e-08,-0.109057,32353588.0,0.034536,1166.51,1070.63,1305.86,168.68

In [221]:
# 선호도(해당 국가의 GDP 대비 한국품목 수입액)이 1을 넘기는 것은 이상치로 판단하여 제거
export_GDP_pop.query('preference>1').country.unique()

array(['Liberia', 'Marshall Islands'], dtype=object)

In [222]:
export_GDP_pop.country.nunique()

205

In [223]:
export_GDP_pop[~export_GDP_pop['country'].isin(['Liberia', 'Marshall Islands'])].country.nunique()

203

In [224]:
export_GDP_pop = export_GDP_pop[~export_GDP_pop['country'].isin(['Liberia', 'Marshall Islands'])]
export_GDP_pop.reset_index(drop=True, inplace=True)
export_GDP_pop

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,Zimbabwe,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73
128389,2022,Zimbabwe,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73
128390,2022,Zimbabwe,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73
128391,2022,Zimbabwe,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73
128392,2022,Zimbabwe,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73

In [225]:
# 저장
with open('../processed/export_GDP_pop_fx.pkl', 'wb') as f:
    pickle.dump(export_GDP_pop, f)

### 유가 추가

In [226]:
wti = pd.read_csv('../data/WTI.csv')

In [227]:
export_GDP_pop.shape, wti.shape

((128393, 13), (11, 2))

In [228]:
export_GDP_pop_fx_wti = pd.merge(export_GDP_pop, wti, how='left', on='year')
print(export_GDP_pop_fx_wti.shape)
display(export_GDP_pop_fx_wti)

(128393, 14)

,year,country,품목코드,수출금액,GDP,preference,GDP_growth,population,pop_growth,USD,JPY,EUR,CNY,WTI
0,2012,Afghanistan,3.0,1.0,20203572.96,4.949620e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
1,2012,Afghanistan,4.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
2,2012,Afghanistan,7.0,2.0,20203572.96,9.899239e-08,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
3,2012,Afghanistan,8.0,0.0,20203572.96,0.000000e+00,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
4,2012,Afghanistan,10.0,12.0,20203572.96,5.939543e-07,NaN,30466479.0,NaN,1126.43,1412.96,1447.58,178.52,94.051667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128388,2022,Zimbabwe,90.0,299.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128389,2022,Zimbabwe,94.0,21.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128390,2022,Zimbabwe,95.0,2.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128391,2022,Zimbabwe,96.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000
128392,2022,Zimbabwe,97.0,0.0,NaN,NaN,NaN,NaN,NaN,1293.68,985.24,1359.46,191.73,88.150000

In [229]:
# 저장
with open('../processed/export_GDP_pop_fx_wti.pkl', 'wb') as f:
    pickle.dump(export_GDP_pop_fx_wti, f)

### 국가명 인코딩

In [230]:
country_to_idx = {v:k for k,v in enumerate(export_GDP_pop['country'].unique())}
idx_to_country = {v:k for k,v in country_to_idx.items()}

print(country_to_idx)
print(idx_to_country)

{'Afghanistan': 0, 'Albania': 1, 'Algeria': 2, 'American Samoa': 3, 'Andorra': 4, 'Angola': 5, 'Antigua and Barbuda': 6, 'Argentina': 7, 'Armenia': 8, 'Aruba': 9, 'Australia': 10, 'Austria': 11, 'Azerbaijan': 12, 'Bahamas': 13, 'Bahrain': 14, 'Bangladesh': 15, 'Barbados': 16, 'Belarus': 17, 'Belgium': 18, 'Belize': 19, 'Benin': 20, 'Bermuda': 21, 'Bhutan': 22, 'Bolivia': 23, 'Bosnia and Herzegovina': 24, 'Botswana': 25, 'Brazil': 26, 'Brunei': 27, 'Bulgaria': 28, 'Burkina Faso': 29, 'Burundi': 30, 'Cambodia': 31, 'Cameroon': 32, 'Canada': 33, 'Cape Verde': 34, 'Cayman Islands': 35, 'Central African Republic': 36, 'Chad': 37, 'Chile': 38, 'China': 39, 'Colombia': 40, 'Comoros': 41, 'Congo': 42, 'Costa Rica': 43, 'Croatia': 44, 'Cuba': 45, 'Curacao': 46, 'Cyprus': 47, 'Czech Republic': 48, 'Democratic Republic of the Congo': 49, 'Denmark': 50, 'Djibouti': 51, 'Dominica': 52, 'Dominican Republic': 53, 'Ecuador': 54, 'Egypt': 55, 'El Salvador': 56, 'Equatorial Guinea': 57, 'Estonia': 58, 'Eswatini': 59, 'Ethiopia': 60, 'Faroe Islands': 61, 'Fiji': 62, 'Finland': 63, 'France': 64, 'French Polynesia': 65, 'Gabon': 66, 'Gambia': 67, 'Georgia': 68, 'Germany': 69, 'Ghana': 70, 'Greece': 71, 'Greenland': 72, 'Grenada': 73, 'Guam': 74, 'Guatemala': 75, 'Guiana': 76, 'Guinea': 77, 'Guinea-Bissau': 78, 'Guyana': 79, 'Haiti': 80, 'Honduras': 81, 'Hong Kong': 82, 'Hungary': 83, 'Iceland': 84, 'India': 85, 'Indonesia': 86, 'Iran': 87, 'Iraq': 88, 'Ireland': 89, 'Israel': 90, 'Italy': 91, 'Ivory Coast': 92, 'Jamaica': 93, 'Japan': 94, 'Jordan': 95, 'Kazakhstan': 96, 'Kenya': 97, 'Kiribati': 98, 'Kuwait': 99, 'Kyrgyzstan': 100, 'Laos': 101, 'Latvia': 102, 'Lebanon': 103, 'Lesotho': 104, 'Libya': 105, 'Liechtenstein': 106, 'Lithuania': 107, 'Luxembourg': 108, 'Macau': 109, 'Madagascar': 110, 'Malawi': 111, 'Malaysia': 112, 'Maldives': 113, 'Mali': 114, 'Malta': 115, 'Mauritania': 116, 'Mauritius': 117, 'Mexico': 118, 'Micronesia': 119, 'Moldova': 120, 'Monaco': 121, 'Mongolia': 122, 'Montenegro': 123, 'Morocco': 124, 'Mozambique': 125, 'Myanmar': 126, 'Namibia': 127, 'Nauru': 128, 'Nepal': 129, 'Netherlands': 130, 'New Caledonia': 131, 'New Zealand': 132, 'Nicaragua': 133, 'Niger': 134, 'Nigeria': 135, 'North Macedonia': 136, 'Norway': 137, 'Oman': 138, 'Pakistan': 139, 'Palau': 140, 'Panama': 141, 'Papua New Guinea': 142, 'Paraguay': 143, 'Peru': 144, 'Philippines': 145, 'Poland': 146, 'Portugal': 147, 'Puerto Rico': 148, 'Qatar': 149, 'Romania': 150, 'Russia': 151, 'Rwanda': 152, 'Saint Kitts and Nevis': 153, 'Saint Lucia': 154, 'Saint Vincent and the Grenadines': 155, 'Samoa': 156, 'San Marino': 157, 'Sao Tome and Principe': 158, 'Saudi Arabia': 159, 'Senegal': 160, 'Serbia': 161, 'Seychelles': 162, 'Sierra Leone': 163, 'Singapore': 164, 'Slovakia': 165, 'Slovenia': 166, 'Solomon Islands': 167, 'Somalia': 168, 'South Africa': 169, 'South Sudan': 170, 'Spain': 171, 'Sri Lanka': 172, 'Sudan': 173, 'Suriname': 174, 'Sweden': 175, 'Switzerland': 176, 'Taiwan': 177, 'Tajikistan': 178, 'Tanzania': 179, 'Thailand': 180, 'Timor-Leste': 181, 'Togo': 182, 'Tonga': 183, 'Trinidad and Tobago': 184, 'Tunisia': 185, 'Turkiye': 186, 'Turkmenistan': 187, 'Turks and Caicos Islands': 188, 'Tuvalu': 189, 'Uganda': 190, 'Ukraine': 191, 'United Arab Emirates': 192, 'United Kingdom': 193, 'United States': 194, 'Uruguay': 195, 'Uzbekistan': 196, 'Vanuatu': 197, 'Venezuela': 198, 'Vietnam': 199, 'Yemen': 200, 'Zambia': 201, 'Zimbabwe': 202}
{0: 'Afghanistan', 1: 'Albania', 2: 'Algeria', 3: 'American Samoa', 4: 'Andorra', 5: 'Angola', 6: 'Antigua and Barbuda', 7: 'Argentina', 8: 'Armenia', 9: 'Aruba', 10: 'Australia', 11: 'Austria', 12: 'Azerbaijan', 13: 'Bahamas', 14: 'Bahrain', 15: 'Bangladesh', 16: 'Barbados', 17: 'Belarus', 18: 'Belgium', 19: 'Belize', 20: 'Benin', 21: 'Bermuda', 22: 'Bhutan', 23: 'Bolivia', 24: 'Bosnia and Herzegovina', 25: 'Botswana', 26: 'Brazil', 27: 'Brunei', 28: 'Bulgaria', 29: 'Burkina Faso', 30: 'Burundi', 31: 'Cambodia', 32: 'Cameroon', 33: 'Canada', 34: 'Cape Verde', 35: 'Cayman Islands', 36: 'Central African Republic', 37: 'Chad', 38: 'Chile', 39: 'China', 40: 'Colombia', 41: 'Comoros', 42: 'Congo', 43: 'Costa Rica', 44: 'Croatia', 45: 'Cuba', 46: 'Curacao', 47: 'Cyprus', 48: 'Czech Republic', 49: 'Democratic Republic of the Congo', 50: 'Denmark', 51: 'Djibouti', 52: 'Dominica', 53: 'Dominican Republic', 54: 'Ecuador', 55: 'Egypt', 56: 'El Salvador', 57: 'Equatorial Guinea', 58: 'Estonia', 59: 'Eswatini', 60: 'Ethiopia', 61: 'Faroe Islands', 62: 'Fiji', 63: 'Finland', 64: 'France', 65: 'French Polynesia', 66: 'Gabon', 67: 'Gambia', 68: 'Georgia', 69: 'Germany', 70: 'Ghana', 71: 'Greece', 72: 'Greenland', 73: 'Grenada', 74: 'Guam', 75: 'Guatemala', 76: 'Guiana', 77: 'Guinea', 78: 'Guinea-Bissau', 79: 'Guyana', 80: 'Haiti', 81: 'Honduras', 82: 'Hong Kong', 83: 'Hungary', 84: 'Iceland', 85: 'India', 86: 'Indonesia', 87: 'Iran', 88: 'Iraq', 89: 'Ireland', 90: 'Israel', 91: 'Italy', 92: 'Ivory Coast', 93: 'Jamaica', 94: 'Japan', 95: 'Jordan', 96: 'Kazakhstan', 97: 'Kenya', 98: 'Kiribati', 99: 'Kuwait', 100: 'Kyrgyzstan', 101: 'Laos', 102: 'Latvia', 103: 'Lebanon', 104: 'Lesotho', 105: 'Libya', 106: 'Liechtenstein', 107: 'Lithuania', 108: 'Luxembourg', 109: 'Macau', 110: 'Madagascar', 111: 'Malawi', 112: 'Malaysia', 113: 'Maldives', 114: 'Mali', 115: 'Malta', 116: 'Mauritania', 117: 'Mauritius', 118: 'Mexico', 119: 'Micronesia', 120: 'Moldova', 121: 'Monaco', 122: 'Mongolia', 123: 'Montenegro', 124: 'Morocco', 125: 'Mozambique', 126: 'Myanmar', 127: 'Namibia', 128: 'Nauru', 129: 'Nepal', 130: 'Netherlands', 131: 'New Caledonia', 132: 'New Zealand', 133: 'Nicaragua', 134: 'Niger', 135: 'Nigeria', 136: 'North Macedonia', 137: 'Norway', 138: 'Oman', 139: 'Pakistan', 140: 'Palau', 141: 'Panama', 142: 'Papua New Guinea', 143: 'Paraguay', 144: 'Peru', 145: 'Philippines', 146: 'Poland', 147: 'Portugal', 148: 'Puerto Rico', 149: 'Qatar', 150: 'Romania', 151: 'Russia', 152: 'Rwanda', 153: 'Saint Kitts and Nevis', 154: 'Saint Lucia', 155: 'Saint Vincent and the Grenadines', 156: 'Samoa', 157: 'San Marino', 158: 'Sao Tome and Principe', 159: 'Saudi Arabia', 160: 'Senegal', 161: 'Serbia', 162: 'Seychelles', 163: 'Sierra Leone', 164: 'Singapore', 165: 'Slovakia', 166: 'Slovenia', 167: 'Solomon Islands', 168: 'Somalia', 169: 'South Africa', 170: 'South Sudan', 171: 'Spain', 172: 'Sri Lanka', 173: 'Sudan', 174: 'Suriname', 175: 'Sweden', 176: 'Switzerland', 177: 'Taiwan', 178: 'Tajikistan', 179: 'Tanzania', 180: 'Thailand', 181: 'Timor-Leste', 182: 'Togo', 183: 'Tonga', 184: 'Trinidad and Tobago', 185: 'Tunisia', 186: 'Turkiye', 187: 'Turkmenistan', 188: 'Turks and Caicos Islands', 189: 'Tuvalu', 190: 'Uganda', 191: 'Ukraine', 192: 'United Arab Emirates', 193: 'United Kingdom', 194: 'United States', 195: 'Uruguay', 196: 'Uzbekistan', 197: 'Vanuatu', 198: 'Venezuela', 199: 'Vietnam', 200: 'Yemen', 201: 'Zambia', 202: 'Zimbabwe'}

In [231]:
with open('../processed/country_to_idx.pkl', 'wb') as f:
    pickle.dump(country_to_idx, f)

with open('../processed/idx_to_country.pkl', 'wb') as f:
    pickle.dump(idx_to_country, f)